<div class="max-w-7xl px-4 lg:px-6 lg:px-8 py-12 lg:py-24 mx-auto">
  <div class="mb-6 sm:mb-10 max-w-2xl text-center mx-auto">
    <h1 class="font-medium text-black text-2xl sm:text-4xl dark:text-white">
      Recent Articles
    </h1>
    <p class="max-w-lg mx-auto mt-4 text-gray-500">
        Explore unique workshops and experiences that spark your creativity and connect you to new possibilities. 
    </p>
  </div>

  <!-- Card Grid -->
  <div class=" grid grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
    <!-- Card -->
    <%= render @articles %>
    <!-- End Card -->
  </div>
  <!-- End Card Grid -->

  <div class="mt-10 lg:mt-20 text-center">
    <a class="relative inline-block font-medium md:text-lg text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-lime-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="#">
      View all Articles
    </a>
  </div>
</div>